.bg-panda{
    background-color: #FCEAE8;
}
.text-panda{
    color: #FF3383;
}
.btn-panda{
    background-color: #FF3383;
    border: none;
    padding: 6px 15px;
    font-size: 18px;
}
.bg-cate1{
    background-color: #FFA500;
}
.bg-cate2{
    background-color: #DA70D6;
}
.bg-cate3{
    background-color: #0000FF;
}
